.Navbar{
     gap: 25px;
     color: rgb(0, 0, 0);
     font-size: 19px;
}


.Profile{
    margin-top: 0cm;
}


.Background{
    background-image: url('../Asset/Backimage.jpg');
    background-size: cover;
    height: 100vh;
    
}
